{{- $name := include "app.name" . -}}
{{- $labels := include "app.labels" . -}}
{{- $selectorLabels := include "app.selectorLabels" . -}}

{{- if or .Values.clusterip.enabled .Values.ingress.enabled .Values.route.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}-clusterip
  labels:
    {{- if .Values.clusterip.labels }}
    {{- toYaml .Values.clusterip.labels | nindent 4 }}
    {{- else }}
    {{- $labels | nindent 4 }}
    {{- end }}
spec:
  selector:
    {{- $selectorLabels | nindent 4 }}
  ports:
    - protocol: {{ .Values.clusterip.protocol }}
      port: {{ .Values.clusterip.port }}
      targetPort: {{ .Values.application.port }}
{{- end }}
